<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">Minhas Tarefas</h1>
  <%= link_to "Adicionar", new_task_path, class: "btn btn-primary" %>
</div>
<div class="row">
  <% @tasks.each do |task| %> 
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= task.titulo %></h5>
          <p class="card-text"><%= truncate(task.descricao, length: 100) %></p>
          <p class="card-text"><%= task.to_status %></p>
          <div class="d-flex justify-content gap-2 mt-3"> 
            <%= link_to "Editar", edit_task_path(task), class: "btn btn-primary" %>
              <%= button_to "Excluir", task_path(task), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>  
  <% end %> 
</div>  
