<%= form_with(model: [@task, @pomodoro]) do |form| %>
  <% if @pomodoro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@pomodoro.errors.count, "erro") %> proibiu que este pomodoro fosse salvo:</h2>
      <ul>
        <% @pomodoro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

  <div class="field">
    <%= form.label :duracao, "Duração (minutos)" %>
    <%= form.number_field :duracao %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
