<div id="<%= dom_id pomodoro %>">
  <p>
    <strong>Task:</strong>
    <%= pomodoro.task_id %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= pomodoro.duracao %>
  </p>

  <p>
    <strong>Concluido:</strong>
    <%= pomodoro.concluido %>
  </p>

  <p>
    <strong>Inicio task:</strong>
    <%= pomodoro.inicio_task %>
  </p>

  <p>
    <strong>Fim task:</strong>
    <%= pomodoro.fim_task %>
  </p>

</div>
