<h1>Pomodoros da Tarefa: <%= @task.titulo %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Duração (minutos)</th>
      <th>Criado em</th>
    </tr>
  </thead>
  <tbody>
    <% @pomodoros.each do |pomodoro| %>
      <tr>
        <td><%= pomodoro.duracao %></td>
        <td><%= pomodoro.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo Pomodoro", new_task_pomodoro_path(@task), class: "btn btn-success" %>
<%= link_to "Voltar para Tarefas", tasks_path, class: "btn btn-outline-primary" %>
